# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
out/
web-build/
*.tgz

# Coverage
coverage/
*.lcov

# Logs
logs/
*.log
report.*.*.*.*.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
*.local

# Expo
.expo/
expo-env.d.ts

# Caches
.cache/
.eslintcache
*.tsbuildinfo

# Native / Mobile
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# Generated native folders
/ios
/android

# IDEs / Editors
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store

# Project-specific
app-example